body {
    /* Makes background page color light blue, puts a patterned bg as body */
    background-color: lightblue;
    background-image: url('bg3.jpg');
    height: 100%;
}
html{
  min-height: 100%;
  position: relative;
}


/* GENERAL TAGS */
a{
    text-decoration: none; /* gets rid of the underline under links */
    color: #c984ff;
}
a:hover{
  color: purple;
  text-decoration: none;
}


ul{
  list-style: circle;
  list-style-position: inside;
  display: inline-block;
}
p, li{ /* for both p and li tags */
    font-size: 1.120em;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 12px;
    padding-right: 12px;
}
p{
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

h1{
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #eadbff;
}
h2{
    color: black;
    font-size: 1.75em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: lavender;
}

strong{
  color:#11001F /* dark purple */
}

i{
  padding-left: 10px;
  padding-right: 10px;
}
img{
  padding-top: 5px;
  padding-bottom: 5px;
}



/* CLASSES */
.row{
  padding-right: 15px;
}

.left{
  text-align:left;
}
.center {
  /* Aligns text to the center of the page */
  text-align: center;
}
.right {
  /* Aligns text to the right of the page */
  text-align: right;
}
.underline{
  text-decoration: underline;
}

/* SPLASH BANNER CLASSES */
.titletext{
  font-size: 2.55em;
}
.subtext{
  font-size: 1.20125em;
}

.image-txt-container{
  align-items: center;
  display: flex;

}


.boldedtext{
  /* Text should be bolded when this class is active */
   font-weight:bold;
}
.underline{
  text-decoration: underline;
}

/* NAVIGATION BAR */
.whitetext{
  /* Makes text white */
  color: white;
  float:left;
  padding: 5px 5px;
  padding-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
}
.headerlink{
  /* links on the header should be to the right of the header */
  padding: 5px 5px;
  padding-right: 30px;
  float:right;
  text-align: center;
  font-size: 30px;
  color: #c984ff;
  font-family: 'Open Sans Condensed', sans-serif;
}
.headerlink a:hover, .headerlink a:active{
  /* When the navigation bar links are hovered over and being clicked on,
  the text should turn white. They will revert to normal color when the mouse
  is not on the text anymore. */
  color: lavender;
  text-decoration: none;
}

/* CONTACT ICONS */
.fa{
  text-decoration: none;
  color: #c984ff;
}
.fa:hover{
  color: purple;
}

/* IMG POSITIONING */
.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 10px 5px;
  border-width: 100%;
}

/* SKILLS LISTS */
.skills{
  margin-right: 30px;
}

/* IDS */
#container{
  position: absolute;
  margin-top: 50px;
}
#splash{
  /* Splash banner */
  margin-top: 10px;
  background-color: #eadbff;
  align-items: center;
  display: flex;
}
#main{
  /* Specific ID for the main body */
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
}
#bottom{
  /* bottom contact area */
    overflow: hidden;
    background-color: #eadbff;
    padding: 9px 9px;
    font-family: 'Fira Sans', sans-serif;
}
#skills{
  /* skills icon size */
  font-size: 5em;
}


/* SPECIFIC TAGS */
#splash img{
    width: 65%;
    border-radius: 100%;
}

ul#top_nav{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

div.img_col{
  align-items: center;
  text-align: center;
}

div#main, div#project_div, div#splash{
  margin-left: 15px;
  margin-right: 15px;
}

div#project_div{
  background-color: white;
  margin-top: auto;
  padding-top: 10px;
}

.center ul{
  margin-right: 4rem;
}
